
    <div class="main-wrapper" style="background-image: url('/worldranks/src/assets/earth-bg.jpg'); background-size: cover; background-position: center; background-attachment: fixed;">


    <div class="sidebar">
  
      <!-- Found countries -->
      <div class="total-count">Found {{ filteredCountries.length }} countries</div>
  
      <!-- Sort dropdown -->
      <h4 class="sidebar-heading">Sort By</h4>
      <select [(ngModel)]="sortBy" (change)="onSortChange()" class="sort-select">
        <option value="population">Population</option>
        <option value="area">Area</option>
        <option value="name">Name</option>
      </select>
  
      <!-- Region filters -->
      <h4 class="sidebar-heading">Region</h4>
      <div class="filter-group">
        <div class="filter-button" (click)="selectedRegion='Africa'; updateFilteredCountries()">Africa</div>
        <div class="filter-button" (click)="selectedRegion='Americas'; updateFilteredCountries()">Americas</div>
        <div class="filter-button" (click)="selectedRegion='Antarctic'; updateFilteredCountries()">Antarctic</div>
        <div class="filter-button" (click)="selectedRegion='Asia'; updateFilteredCountries()">Asia</div>
        <div class="filter-button" (click)="selectedRegion='Europe'; updateFilteredCountries()">Europe</div>
        <div class="filter-button" (click)="selectedRegion='Oceania'; updateFilteredCountries()">Oceania</div>
      </div>
  
      <!-- Status checkboxes -->
      <h4 class="sidebar-heading">Status</h4>
      <div class="checkbox-group">
        <label class="checkbox-label">
          <input type="checkbox" [(ngModel)]="isUNMember" (change)="onStatusChange()" />
          Member of the United Nations
        </label>
        <label class="checkbox-label">
          <input type="checkbox" [(ngModel)]="isIndependent" (change)="onStatusChange()" />
          Independent
        </label>
      </div>
  
    </div>
  
    <div class="content-area">
      <div class="table-wrapper">
        <div class="table-header">
          <input
            type="text"
            class="search-input"
            [(ngModel)]="searchText"
            (input)="onSearchChange()"
            placeholder="Search by Name, Region, Subregion"
          />
        </div>
  
        <table class="country-table">
          <thead>
            <tr>
              <th>Flag</th>
              <th>Name</th>
              <th>Population</th>
              <th>Area (km²)</th>
              <th>Region</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let country of filteredCountries" (click)="goToDetail(country.cca3)">
              <td><img class="flag-img" [src]="country.flags.png" /></td>
              <td>{{ country.name.common }}</td>
              <td>{{ country.population | number }}</td>
              <td>{{ country.area | number }}</td>
              <td>{{ country.region }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  